<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/assets/css/<%= css %>.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="attendance-content" id="staffs-covid">
<strong><h3>Danh sách nhân viên và thông tin về COVID-19</h3></strong>


    <table>
        <thead>
            <tr>
                <th>Tên</th>
                <th>Nhiệt độ cơ thể</th>
                <th>Tiêm vaccine</th>
                <th>Dương tính COVID-19</th>
            </tr>
        </thead>

        <tbody>
            <% if (userArr.length > 0) { %>
                <% userArr.map(user => { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><% user.bodyTemps.map(temp => {  %>
                            <p><span>- <%= temp.temperature %></span>
                            <span>(<%= temp.date.toLocaleDateString() %>)</span></p>
                            <% }) %>
                        </td>
                        <td><% user.vaccine.map(item => {  %>
                            <p><span>- <%= item.name %></span>
                            <span>(<%= item.date.toLocaleDateString() %>)</span></p>
                            <% }) %>
                        </td>
                        <td><% user.positive.map(item => {  %>
                            <p>- <%= item.date.toLocaleDateString() %></p>
                            <% }) %>
                        </td>
                    </tr>
                    <% }) %>     
            <div class="download">
                <!-- <form action="/admin/covid-details?action=download" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

                    <button type="submit" class="btn btn-info fa fa-download" />
                 </form> -->
                 <a class="btn btn-primary fa fa-download" href="/admin/covid-details?action=download"></a>
            </div>    

            <% } else { %>      
                <h1>Không có dữ liệu</h1>
            <% } %>     
        </tbody>     

    </table>

 

    </div>
<%- include('../includes/footer.ejs') %>