<%- include('../includes/head.ejs') %>

<style>
    table,
    tr,
    th,
    td {
    border: 1px solid black;
    padding: 0.75rem;
    font-size: 0.5rem;
    /* margin: 1rem 0.75rem; */
    }

    table {
        margin: 1rem auto;
    }

    .attendance-content {
    margin: auto;
    background: #fff;
    padding: 1rem 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 1px 2px #00000033;
    }
</style>
</head>

<body>
    <div class="attendance-content" id="staffs-covid">
    
    <strong><h5>Danh sách nhân viên và thông tin về COVID-19</h5></strong>
    <table>
        <thead>
            <tr>
                <th>Tên</th>
                <th>Nhiệt độ cơ thể</th>
                <th>Tiêm vaccine</th>
                <th>Dương tính COVID-19</th>
            </tr>
        </thead>

        <tbody>
            <% if (userArr.length > 0) { %>
                <% userArr.map(user => { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><% user.bodyTemps.map(temp => {  %>
                            <p><span>- <%= temp.temperature %></span>
                            <span>(<%= temp.date.toLocaleDateString() %>)</span></p>
                            <% }) %>
                        </td>
                        <td><% user.vaccine.map(item => {  %>
                            <p><span>- <%= item.name %></span>
                            <span>(<%= item.date.toLocaleDateString() %>)</span></p>
                            <% }) %>
                        </td>
                        <td><% user.positive.map(item => {  %>
                            <p>- <%= item.date.toLocaleDateString() %></p>
                            <% }) %>
                        </td>
                    </tr>
                    <% }) %>     
            <% } else { %>      
                <h1>Không có dữ liệu</h1>
            <% } %>     
        </tbody>     

    </table>

 

    </div>
<%- include('../includes/footer.ejs') %>